<!doctype html>
<h1>THIS IS A LIST OF UNVERIFIED ORGANIZATION ACCOUNTS</h1>
{{# each listOf }}
	<form action = "/verify" method="post">
	<p>{{ Org }}</p>
	<input type="hidden" name="orgName" value="{{ Org }}"/>
	<p>{{ Email }}</p>
	<input type="hidden" name="orgEmail" vaule ="{{ Email }}"/>
	<p>{{ Password }}</p>
	<input type="hidden" name="orgPassword" value="{{ Password}}"/>
		<button type="submit">Verify</button>
	</form>
	<br>
{{/each}}